$spacing: 24px;
$spacing-small: 12px;
$border-radius: 4px;
$font-header: 'Josefin Sans', sans-serif;
$font-body: 'Trirong', serif;

$primary: #24273A;
$secondary: #D95159;
$tertiary: #9F8878;
$border-color: #DBCFD5;
$light-color: #F9F6F3;
